doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet' href='content/site.css')
    link(rel='stylesheet' href='content/bootstrap.css')
    script(src='javascripts/jquery-2.0.3.js')
    script(src='javascripts/bootstrap.js')
    script(src='javascripts/modernizr-2.6.2.js')
    script(src='javascripts/moment.js')
    script(src='javascripts/ember-template-compiler.js')
    script(src='javascripts/ember.debug.js')
    script(src='build/app.js')
    script(src='build/templates.js')
body
  block content